@import "~bootstrap/scss/bootstrap.scss";
@import "~/pages/custom.scss";

#btnClap {
  border: 0;
  background: theme-color("secondary");

  &:hover {
    transition-duration: 0.2s;
    border: 0;
    background: theme-color("primary") !important;

    svg,
    span {
      color: white;
    }
  }

  &.btn-primary {
    background: theme-color("primary");
  }
}

.btn-clap {
  border-radius: 20px !important;
  padding: 1.5%;
  transition-duration: 0.2s;
  box-shadow: 1px 2px 8px rgba($color: #000000, $alpha: 0.2);
  color: black;
  width: fit-content;
  height: 40px;
  padding: 0 6px 0 4px !important;

  span {
    padding: 0 6px 0 4px !important;
  }
}

.clapBtn {
  display: inline-block;
  cursor: pointer;
  font-weight: 400;

  &:hover {
    text-decoration: underline;
  }

  .spinner-border {
    margin-right: 0.25em;
  }
}