.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  &:hover {
    opacity: 0.8;
  }
  &:focus-within {
    box-shadow: 0 0 0 2px #2987cd;
  }

  input[type='file'] {
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
  }
  input[type='file']::-webkit-file-upload-button {
    cursor: pointer;
  }
  input:disabled {
    cursor: default;
  }
  .btn {
    padding: 0;
    cursor: pointer;
  }
}

#imageRemoved {
  display: none;
}
