@import '~/pages/custom.scss';

.commentDisplay {
  .actionBox {
    // padding: 10px 0;
  }
  .commentList {
    .showMore {
      color: theme-color('primary') !important;
      cursor: pointer;
      height: fit-content;
      position: relative;
      top: 5px;
      left: 5px;
      &:hover {
        color: darken(theme-color('primary'), 15) !important;
      }
    }
    .comment {
      box-shadow: none;
      margin: 0px;
      &.highlight .comment-content {
        border: 2px solid #9898f1 !important;
      }
      .topContent {
        margin-top: 15px;
        border-bottom: none !important;
        .comment-actions {
          padding-left: 55px;
          .comment-date {
            font-size: 11.3px;
            font-weight: bold;
            color: lighten(color('gray-dark'), 30);
          }
        }
        .topBar {
          margin-bottom: 0px;
          .left {
            .userImgContainer {
              width: 40px;
              height: 40px;
              margin-right: 10px;
              @media (max-width: 480px) {
                margin-right: 5px;
              }
            }
            .userImg {
              width: 40px;
              height: 40px;
            }
            .comment-content {
              min-width: 150px;
              border: 0px;
              border-radius: 10px;
              background: #f2f3f4;
              padding: 5px 10px 10px 10px !important;
              .comment-author {
                margin-right: 35px;
                font-size: 13px;
                a {
                  color: darken(color('gray-dark'), 20);
                  font-weight: 500;
                }
              }
              .comment-manage {
                cursor: pointer;
              }
              .from,
              .from a {
                font-size: 11.3px;
                font-weight: bold;
                color: lighten(color('gray-dark'), 30);
              }

              .commentTextContainer {
                position: relative;
                .text.extra {
                  margin-bottom: 0px;
                  margin-top: 5px;
                  font-weight: 400;
                  font-size: 15px;
                  white-space: pre-wrap;
                  line-height: 24px;
                  word-break: break-word;
                  a[href^='/user'],
                  a[href^='/project'] {
                    // style for mentions
                    // background-color: rgb(212, 225, 235);
                    color: theme-color('primary');
                    font-size: 15px;
                    padding: 3px 2px 0px;
                    margin-left: -3px;
                    // font-weight: 500;
                    span {
                      display: none;
                    }
                  }
                }
                .viewMore {
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  margin-bottom: 0;
                  padding-left: 8px;
                  color: darken(color('lightgray'), 30);
                  background: #f2f3f4;
                  font-size: 15px;
                  cursor: pointer;
                  text-transform: lowercase;
                  &:hover {
                    color: theme-color('primary') !important;
                    text-decoration: underline;
                  }
                }
                &.hideText {
                  max-height: 6rem;
                  overflow: hidden;
                }
              }
            }
          }
        }
      }
      &.hidden {
        display: none;
      }
    }
  }
}
