@import '~/pages/custom.scss';

.infoInterests {
  margin-bottom: 15px;
  width: 100%;

  @media (max-width: 480px) {
    margin-bottom: 10px;
  }

  .interests {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    @media (max-width: 700px) {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
  }

  .interest {
    margin: 5px 10px 5px 0;

    &.toggle {
      display: none;
    }

    .imgInterest {
      max-width: 110px;
      width: 100%;
    }

    .selected {
      border: 7px solid theme-color('success');
      border-radius: 5px;
    }

    .interestElement {
      position: absolute;
      left: -9999px;
    }
  }

  .less,
  .more {
    color: theme-color('primary');
    background: transparent;
    border: 1px solid theme-color('primary');
    padding: 2px 5px;
    cursor: pointer;
    height: fit-content;

    &:hover {
      color: white;
      background: theme-color('primary');
    }
  }

  .less {
    display: none;
  }
}
